h1 {
  margin-left: 10px;
}
.app {
  text-align: center;
}

.content {
  display: flex;
  height: 78vh;
}

.search {
  width: 90vw;
}

.search-button {
  background-color: #444;
  color: #eeeeee;
  font-size: 1.5rem;
  height: 3rem;
  margin-left: 5px;
  width: 200px;
}

.search-button:hover {
  background-color: #000;
}

.search-input {
  background-color: #ddd;
  font-size: 1.5rem;
  height: 2rem;
  margin-left: 5px;
  padding: 0.5rem;
  width: 600px;
}
